<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>MCC社团招新系统</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">

</head>

<body>
<section class="aui-content">
    <div style="height:20px;"></div>
    <form action="" name="form1" method="post" enctype="multipart/form-data">
        <div class="aui-content-up">
            <div class="aui-content-up-form">
                <h2>MCC社团招新系统</h2>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    姓名 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="name" id="name" required
                           placeholder="请输入本人名字">
                    <span class="tips" id="divname">长度1~6个字符</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    年龄 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="age" id="age"
                           placeholder="请输入本人年龄">
                    <span class="tips">本人年龄</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    性别 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="sex" id="sex"
                           placeholder="请输入本人性别">
                    <span class="tips">男 / 女</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    班级 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="class" required id="class"
                           placeholder="请输入班级">
                    <span class="tips"></span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    班主任 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="class_teacher" id="class_teacher" required
                           placeholder="请输入本班班主任">
                    <span class="tips"></span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    手机号码 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="phone" id="phone" placeholder="请输入11位的手机号码"
                           required/>
                    <span class="tips" >必须是11位的数字</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    兴趣爱好 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="interest" id="interest" required
                           placeholder="请输入本人兴趣爱好">
                    <span class="interest">至少一个，范围不限</span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    自我评价
                </label>
                <div class="aui-form-input">
                    <textarea class="aui-form-control" name="comment"  minlength="5" id="comment"></textarea>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    个人头像 <em>*</em>
                    <span>小于5M</span>
                </label>
                <div class="aui-form-input">
                    <div class="aui-content-img-box aui-content-full">
                        <div class="aui-photo aui-up-img clear">
                            <section class="aui-file-up fl">
                                <img src="/static/img/up.png" class="add-img">
                                <input type="file" name="file" id="file" class="file"/>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aui-form-group-text">
                <h3>注意</h3>
                <p>请上传本人照片，请不要遮挡面部</p>
            </div>
        </div>

        <div class="aui-btn-default">
            <button class="aui-btn aui-btn-account" type="submit" id="submit">提交</button>
        </div>
    </form>
</section>
<!-- mask begin -->
<div class="aui-mask aui-works-mask">
    <div class="aui-mask-content">
        <p class="aui-delete-text">确定要删除你上传的资料？</p>
        <p class="aui-check-text">
            <span class="aui-delete aui-accept-ok">确定</span>
            <span class="aui-accept-no">取消</span>
        </p>
    </div>
</div>
<!-- mask end -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/up.js"></script>
<script type="text/javascript">
    $('#submit').click(function (e) {
        var res = $(this).serialize();
        var url = '{:url("Student/setInfo")}';

        var formData = new FormData();
        formData.append('file', document.getElementById('file').files[0]);
        formData.append('name', document.getElementById('name').value);
        formData.append('age', document.getElementById('age').value);
        formData.append('sex', document.getElementById('sex').value);
        formData.append('class', document.getElementById('class').value);
        formData.append('class_teacher', document.getElementById('class_teacher').value);
        formData.append('phone', document.getElementById('phone').value);
        formData.append('interest',  document.getElementById('interest').value);
        formData.append('comment',  document.getElementById('comment').value);


        $.ajax({
            url: url,
            data: formData,
            type: 'post',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.code == 1) {
                    layer.alert(data.msg, {icon: 6}, function (index) {
                        layer.close(index);
                        location.href = data.url
                    })
                } else {
                    layer.alert(data.msg, {icon: 5}, function (index) {
                        layer.close(index);
                    })
                }
            },
            error: function () {
                layer.alert("服务器错误！请稍后再试")
            }
        });
        return false;
    });
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>© MCC招新系统 By: 李桥金</p>
</div>
</body>
</html>
